/RaspberryDashboard/src/main/resources/static/js/lib/* linguist-vendored
/RaspberryDashboard/src/main/resources/static/css/lib/* linguist-vendored
/RaspberryDashboard/src/main/resources/static/css/* linguist-generated
