<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Raspberry Dashboard</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" type="text/css" href="css/lib/bootstrap-4.0.0-beta.css">
		
		<!-- Custom styles for the page -->
		<link rel="stylesheet" type="text/css" href="css/dashboard.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="@{#}">Raspberry Dashboard</a>
	
			<div class="collapse navbar-collapse" id="navigation-bar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/dashboard}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/administration}">Administration</a>
					</li>
				</ul>
	
				<form class="form-inline" th:action="@{/logout}" method="post">
					<button class="btn btn-primary" type="submit">Logout</button>
				</form>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6"><div id="cpu-temperature-container" class="xx-large-text">0.00</div></div>
				<div class="col-md-4 col-sm-6">GPU Temperature: <div id="cpu-temperature-container"></div></div>
				<div class="col-md-4 col-sm-6">HDD Percentage: </div>
			</div>
		</div>
	
		<script src="js/lib/jquery-3.2.1.js"></script>
		<script src="js/lib/popper-1.12.3.js"></script>
		<script src="js/lib/bootstrap-4.0.0-beta.js"></script>
		<script src="js/dashboard.js"></script>
	</body>
</html>