<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Raspberry Dashboard</title>

    	<script src="js/lib/jquery-3.2.1.js"></script>
		<link rel="stylesheet" type="text/css" href="css/error.css">
		
		<!-- Error page template from Better Error Pages by StatusPages.io -->
	</head>
	<body class="plain error-page-wrapper">
		<div class="content-container">
			<div class="head-line primary-text xx-large-text" th:text="${statusCode}"></div>
			
			<div class="subheader primary-text x-large-text" th:if="${errorType == 'NotFoundError'}">
				Oops, the page you're <br /> looking for does not exist.
			</div>
			<div class="subheader primary-text x-large-text" th:if="${errorType == 'NotAuthorized'}">
				Oops, you are not authorized <br /> to view this page.
			</div>
			<div class="subheader primary-text x-large-text" th:if="${errorType == 'InternalServerError'}">
				Looks like we're having <br> some server issues.
			</div>
			<hr>
			<div class="clearfix"></div>
			<div class="context primary-text" th:if="${errorType == 'NotFoundError'}">
				<p>
					You may want to head back to the homepage.<br />
					If you think something is broken, report a problem.
				</p>
			</div>
			<div class="context primary-text large-text" th:unless="${errorType == 'NotFoundError'}">
				<p>
					Go back to the previous page and try again. If you think
					something is broken, report a problem.
				</p>
			</div>
			<div class="buttons-container">
				<a class="border-button primary-text normal-text" th:href="@{/dashboard}" target="_self" th:if="${errorType == 'NotFoundError'}">GO TO HOMEPAGE</a>
				<a class="border-button primary-text normal-text" href="mailto:#" target="_blank">REPORT A PROBLEM</a>
			</div>
		</div>
		<script>
			function ErrorPage() {
				this.$container = $("body");
				this.$contentContainer = this.$container.find('.content-container');
			}
			
			ErrorPage.prototype.centerContent = function () {
				var containerHeight = this.$container.outerHeight();
				var contentContainerHeight = this.$contentContainer.outerHeight();
				var top = (containerHeight - contentContainerHeight) / 2;
				var offset = 0;
			
				this.$contentContainer.css('top', top + offset);
			};
			
			ErrorPage.prototype.initialize = function () {
				var self = this;
			
				this.centerContent();
				this.$container.on('resize', function (e) {
					e.preventDefault();
					e.stopPropagation();
					self.centerContent();
				});
				
				// Fades in content on the plain template
				window.setTimeout(function () {
			    	self.$contentContainer.addClass('in');
				}, 500); 
			};
			
			var errorPage = new ErrorPage();
			errorPage.initialize();
			
			// Hack to make sure content stays centered
			$(window).on('resize', function() {
				$('body').trigger('resize')
			});
		</script>
	</body>
</html>
